<div class="config">
	{{#configuration-field value=startingBalance}}Starting Balance{{/configuration-field}}
	{{#configuration-field value=startingCostBasis}}Cost Basis{{/configuration-field}}
	{{#configuration-field value=yearlySpending}}Yearly Spending{{/configuration-field}}
</div>
