<div class="config">
	{{#configuration-field}}Starting Balance{{/configuration-field}}
	{{#configuration-field}}Cost Basis{{/configuration-field}}
	{{#configuration-field}}Yearly Spending{{/configuration-field}}
</div>
